header.form-header
  if (manifest)
    .offline-enabled
      .offline-enabled__icon.not-enabled(title="This form is able to launch offline")
      .offline-enabled__queue-length(title="Records Queued")
  .form-progress
  span.form-language-selector.hide: span= t('form.chooseLanguage')
