.question.or-appearance-unga-slider-7 {
    background-color: #F3F3F3;
    border: 4px solid #FFF;
    padding-bottom: 0px !important;
    padding-left: 185px !important;
    position: relative;
    max-width: 50%;
    height: 170px;
    align-content: center;
    overflow: hidden;
    &:not(.note):not(.focus):hover {
        background-color: #F3F3F3;
    }
    .question-label {
        text-align: left;
        padding-top: 10px;
        font-weight: 600;
        padding-right: 45px;
        line-height: 1.3em;
        opacity: 0.8;
        font-size: 20px;
    }
    span.or-hint {
        display: none;
    }
    img {
        position: absolute;
        width: 175px;
        height: 400px;
        max-height: 400px;
        background: #999;
        left: 0px;
        top: -10px;
        margin: 0px;
        z-index: 1;
    }
    .widget.slider-horizontal {
        position: absolute;
        right: 15px;
        bottom: 10px;
        width: calc(100% - 210px);
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        i {
            font-size: 20px;
            opacity: 0.7;
        }
        .slider {
            width: 100%;
        }
    }
    .slider-track {
        @include gradient-vertical(#c2c2c2, #cccccc);
    }
    .slider-selection {
        @include gradient-vertical(lighten(#6aa6dc, 15%), #6aa6dc);
    }
    .slider-handle {
        opacity: 0.9;
        @include gradient-vertical(#6aa6dc, darken(#6aa6dc, 10%));
    }
}

.invalid-constraint.or-appearance-unga-slider-7,
.invalid-required.or-appearance-unga-slider-7 {
    background-color: #f2dede;
    border-color: darken(#f2dede, 10%);
    .or-constraint-msg.active,
    .or-required-msg.active {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        width: 175px;
        left: 0px;
        background-color: #f2dede;
        text-align: center;
        z-index: 2;
        opacity: 0.8;
    }
}

@media screen and (max-width: 890px) {
    .question.or-appearance-unga-slider-7 {
        .question-label {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 767px) {
    .question.or-appearance-unga-slider-7 {
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .question.or-appearance-unga-slider-7 {
        padding-left: 125px !important;
        img {
            width: 110px;
            height: 251px;
            top: 0px;
        }
        .widget.slider-horizontal {
            width: calc(100% - 145px);
        }
    }
}
