.unga-footer {
  display: block !important;
  margin-top: 30px;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #89A9CB;
  .myo {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
  .myo {
    margin-bottom: 40px;
  }
  .kobo, .enketo {
    max-width: 140px;
    display: inline-block;
    vertical-align: middle;
  }
  .enketo {
    max-width: 70px;
    margin-left: 10px;
  }
}

// overrides weird negative margins on .form-footer which introduce horizontal scrollbar (among other things)
.form-footer {
  margin: 0px;
}

.enketo-power {
  display: none;
}